* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    circle 1292px at -13.6% 51.7%,
    rgba(0, 56, 68, 1) 0%,
    rgba(163, 217, 185, 1) 51.5%,
    rgba(255, 252, 247, 1) 88.6%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chat-container-one {
  flex-direction: column;
  padding: 1vw;
  height: 80vh;
  /* border-radius: 2vw; */
  width: 35vw;
  /* background-color: rgba(9, 12, 13, 0.35); */
}
.li-textcontainer {
  display: flex;
}

.accept-prahu {
  text-align: start;
}
.text-chat-1 {
  overflow-y: scroll;
  background-image: url("https://img.freepik.com/premium-photo/siamese-beautiful-colorful-fish-art-sea-bottom-clear-images-generative-ai_880278-400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
.accept-chat {
  text-align: end;
}

.chat-container-two {
  padding: 1vw;
  height: 80vh;
  width: 35vw;
}
.user-info {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vw;
  width: 100%;
  background-color: rgba(9, 12, 13, 0.31);
}

.input-icon i {
  margin-left: 1vw;
}

.image-con img {
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
}
.image-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.username {
  margin-left: 1vw;
  font-size: 1.5vw;
  color: white;
}
.chat-line {
  height: 3vw;
  width: 50%;
  border: 2px solid black;
}

#send-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.5vw;
  height: 3vw;
  width: 3vw;
}

.icone-con i {
  border: none;
  margin-right: 2vw;
  color: #fff;
}
#input {
  font-size: 1.5vw;
  height: 3vw;
  width: 20vw;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
}

.userDatasend {
  text-align: end;
}
.userAccepat-data {
  text-align: start;
}
#parshu-chat {
  font-size: 1.5vw;
  height: 3vw;
  width: 18vw;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
}
#parshu-chat::placeholder {
  background-color: black;
  font-size: 1.5vw;
  outline: none;
  border: none;
  color: #fff;
}

#input::placeholder {
  color: #000;
  font-size: 1.5vw;
  outline: none;
  border: none;
  color: #fff;
}

.input-container {
  /* margin-top: 1vw; */
  height: 3vw;
  width: 100%;
  color: #fff;
  font-size: 1.5vw;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  padding: 1vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  object-fit: cover;
  list-style: none;
  font-size: 2vw;
  font-weight: 600;
  width: auto;
  color: #fff;
  padding: 0.5vw;
}
.text-chat-2 {
  overflow-y: scroll;
  color: #000;
  flex-direction: column-reverse;
  text-align: start;
  height: 60vh;
  width: 100%;
  background-image: url("./images/Screenshot\ 2024-05-03\ 150330.png");
  background-position: center;
  background-size: cover;
  background-position: center;
}

.input-icon i {
  margin-left: 1vw;
}

@media (max-width: 800px) {
  .container {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
  }
  .chat-container-one {
    width: 90vw;
    height: 50vh;
  }
  .chat-container-two {
    width: 90vw;
    height: 50vh;
  }
}
